<form hx-post="{% url 'assignments:add-assignment' job.pk %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Job ID: {{ job.pk }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% for field_name, value in job_fields.items %}
            <p>{{ field_name|capfirst }}: {{ value }}</p>  
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Accept</button>
    </div>
</form>