{% extends "base.html" %}

{% block content %}
    <a href="{% url 'jobs:job-list' %}"> Go back to Jobs </a>
    <hr/>
    <h1>This is the details of {{ job.client }}'s job </h1>
    <p>Date: {{ job.job_date }}</p>
    <p>ID: {{ job.client_job_id }}</p>
    <p>Location: {{ job.location }}</p>
    <p>Name: {{ job.practice_name }}</p>
    <p>Language: {{ job.language }}</p>
    <p>LEP Name: {{ job.lep_name }}</p>
    <p> Description: {{ job.description }}</p>
    <hr/>
    <a href="{% url 'jobs:job-update' job.pk %}">Update</a>
    <a href="{% url 'jobs:job-delete' job.pk %}">Delete</a>
{% endblock %}