<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Neno Dynamix</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .interpreter {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 6px;
                padding-right: 6px;
                margin-10: 10px;
                background-color: #f6f6f6;
                width: 100%;
            }
        </style>
    </head>
    <body>
       <h1>This is all of our interpreters </h1>
       {% for interpreter in interpreters %}
        <div class="interpreter">
            {{ interpreter }} {{ interpreter.user.email}}
        </div>
       {% endfor %}
        
    </body>
</html>