{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <ul class="nav nav-tabs">
    <a href="{% url 'core:landing-page' %}">
      <img class="img-fluid" src="{% static 'images/fav-2-300x225.png' %}" alt="..." width=60px height=60px/>
    </a>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'interpreters:interpreter-dashboard' %}">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'interpreters:interpreter-assignments' %}">Active</a>
    </li>
  </ul>
  {% block content %}
  {% endblock content %}


  <!-- Scripts: Bootstraps, HTMX, and custom JavaScript -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>

  <script>
    ; (function () {
      const modal = new bootstrap.Modal(document.getElementById("modal"))

      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "dialog") {
          modal.show()
        }
      })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })

      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
      })
    })()
  </script>
  <script>
      ; (function () {
        const toastElement = document.getElementById("toast")
        const toastBody = document.getElementById("toast-body")
        const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

        htmx.on("showMessage", (e) => {
          toastBody.innerText = e.detail.value
          toast.show()
        })
      })()
  </script>
</body>

</html>